# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GOWorkspace\mqtt-batch-client-go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
